In [25]:
import numpy as np
import pandas as pd
import os
from tqdm import tqdm_notebook
os.listdir()
image_area = 288*512

In [6]:
df = pd.read_csv("pseudo_labeling.csv")
df.head()

,Image_Label,EncodedPixels,0.05,0.1,0.15,0.2,0.8,0.85,0.9,0.95
0,002f507.jpg_Fish,NaN,147453,147456,147456,147456,0,0,0,0
1,002f507.jpg_Flower,NaN,147456,147456,147456,147456,0,0,0,0
2,002f507.jpg_Gravel,4 335 352 343 702 346 1051 348 1401 348 1751 3...,21511,24413,25798,26924,106225,102819,97605,82197
3,002f507.jpg_Sugar,NaN,104072,131576,140337,143285,0,0,0,0
4,0035ae9.jpg_Fish,NaN,75293,90689,100987,109527,0,0,0,0

In [7]:
def foo(x,l="0.05",h="0.95",th=0.95):
    if (x[l]+x[h])/image_area > th:
        return 1
    else:
        return 0

In [8]:
df["pseudo_label_individual"] = df.apply(foo,args=("0.2","0.8",0.9),axis=1)
df.loc[(df.pseudo_label_individual == 1),"EncodedPixels"].notnull().value_counts()

False    6322
True      541
Name: EncodedPixels, dtype: int64

In [11]:
name = df.Image_Label.apply(lambda x: x.split("_")[0]).unique()
name[:10]

array(['002f507.jpg', '0035ae9.jpg', '0038327.jpg', '004f759.jpg',
       '005ba08.jpg', '006440a.jpg', '006f61b.jpg', '0078e5a.jpg',
       '008fc8a.jpg', '0096937.jpg'], dtype=object)

In [12]:
len(name)

3698

In [15]:
labels = ["Fish","Flower","Gravel","Sugar"]

In [24]:
for pn in tqdm_notebook(name):
    all_names = [pn+"_"+l for l in labels]
    temp = df[df.Image_Label.isin(all_names)]
    proba = (sum(temp["0.2"].values)+sum(temp["0.8"].values))/(image_area*4)
    if proba>0.95:
        value = 1
    else:
        value = 0
    df.loc[df.Image_Label.isin(all_names),"pseudo_group"] = value

In [26]:
df.head()

,Image_Label,EncodedPixels,0.05,0.1,0.15,0.2,0.8,0.85,0.9,0.95,pseudo_label_individual,pseudo_group
0,002f507.jpg_Fish,NaN,147453,147456,147456,147456,0,0,0,0,1,1.0
1,002f507.jpg_Flower,NaN,147456,147456,147456,147456,0,0,0,0,1,1.0
2,002f507.jpg_Gravel,4 335 352 343 702 346 1051 348 1401 348 1751 3...,21511,24413,25798,26924,106225,102819,97605,82197,1,1.0
3,002f507.jpg_Sugar,NaN,104072,131576,140337,143285,0,0,0,0,1,1.0
4,0035ae9.jpg_Fish,NaN,75293,90689,100987,109527,0,0,0,0,0,0.0

In [27]:
df.pseudo_group.value_counts()

0.0    14076
1.0      716
Name: pseudo_group, dtype: int64

In [28]:
df[(df.pseudo_group==1)&(df.pseudo_label_individual==0)]

,Image_Label,EncodedPixels,0.05,0.1,0.15,0.2,0.8,0.85,0.9,0.95,pseudo_label_individual,pseudo_group
101,0193c10.jpg_Flower,91174 53 91511 74 91849 90 92191 102 92535 111...,51813,55789,59086,65776,62975,61043,57652,50100,0,1.0
271,0460cce.jpg_Sugar,58804 6 59153 14 59503 20 59853 25 60203 31 60...,57666,69958,81372,85930,43585,41348,38222,30247,0,1.0
310,059eced.jpg_Gravel,76 56 378 158 705 235 1054 272 1404 288 1753 3...,24583,29768,31665,32909,89033,84794,80473,77301,0,1.0
330,061fd7a.jpg_Gravel,705 114 1054 126 1404 128 1753 132 2103 134 24...,31959,56418,78187,97376,25934,24097,22017,18239,0,1.0
403,07981ac.jpg_Sugar,387 57 709 112 1056 117 1405 119 1754 121 2104...,115918,124010,127407,128577,160,0,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
14345,f8a9217.jpg_Flower,86980 11 87324 25 87667 38 88011 48 88355 58 8...,75152,79143,81545,83225,48276,46220,43053,36457,0,1.0
14434,fa2664b.jpg_Gravel,7590 16 7931 26 8274 34 8617 42 8960 50 9304 5...,20673,29928,33701,36321,82771,79310,73652,56940,0,1.0
14607,fc82e25.jpg_Sugar,210 120 496 202 831 218 1177 223 1525 225 1873...,17907,19714,21077,22379,108391,105527,101296,87241,0,1.0
14699,fe14a73.jpg_Sugar,69986 9 70329 18 70673 25 71017 31 71361 38 71...,63951,66956,68992,70800,52759,49331,43922,32476,0,1.0
14742,fee151c.jpg_Gravel,NaN,104408,114995,124295,130551,0,0,0,0,0,1.0

In [29]:
716/4

179.0